@import url(reset.css);
@import url(font.css);
@import url(common.css);

/* main---------------------------- */
#section0{
    padding:5.5rem 0 0 0;
    overflow: hidden;
}
#section0 .bg > *{
    opacity: 0;
}
#section0 .bg{
    width: 92%;
    border-radius: 1.5rem;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    height: 53rem;
    margin:auto;
    color: #fff;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    background: url(../image/main_bg.png)no-repeat center/cover;
}
#section0 .bg p{
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
}
#section0 .bg p strong{
    color:#E7FE94;
}
.highlight {
    width: 23rem;
    height: 3.2rem;
    font-size: 1.6em;
    line-height: 3.2rem;
    color: #AAFF00;
    text-align: center;
    background-color:rgba(44,62,166,0.5);
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.logo-images{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.logo-images img {
    width: 11rem;
    object-fit: contain;
}
.floating-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60%;
    min-width: 18rem;
    height: 4.8rem;
    color: var(--main);
    border-radius: 5rem;
    border:none;
    font-size: 1.8em;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.floating-button:hover {
    background-color: var(--main);
    color:#fff;
}

/* main) section1 - 결제내역 */
#section1 > *{opacity: 0;}
#section1{
    margin-top: 2rem;
    position: relative;
    height: 54rem;
    background: url(../image/section1_bg.png)no-repeat bottom/cover;
}
#section1 img{
    position: absolute;
    bottom:-6rem;
    left:50%;
    width: 25rem;
    transform: translateX(-50%);
}

/* main) section2 - 유튜브 프리미엄 가격 */
#section2 > *{opacity: 0;}
#section2{
    padding:13rem 3.5rem 3.5rem ;  /*9rem 3.5rem */
    background-color: #E8EFFF;
}
.youtube_detail{
    display: flex;
    justify-content: center;
    column-gap: 15%;
    margin-top:5rem;
}
.saving_txt{
    color:#A7C2FF;
    font-size:2rem ;
    font-weight: bold;
    text-align: center;
}
.saving_txt span{
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    font-size: 3.4rem;
    color:#495DFF;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color:var(--main);
    font-size:1.6rem;
    font-weight: bold;
}
.img_box{
    display: flex;
    justify-content:center;
    column-gap:10%;
    margin-top:5rem;
}
.img_box img:first-child{
    object-fit: contain;
    width: 8rem;
}
.img_box img:last-child{
    width: 19.5rem;
}
.notice{
    margin-top:2rem;
    font-size: 1.2rem;
    color:#95A6CB;
    text-align: right;
    padding:0 10%;
    text-align: center;
}
.sticky{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--main);
    color: #fff;
    font-size: 2rem;
    transition: opacity 0.3s ease;
    box-shadow: 0 -0.1rem 2rem rgba(0, 0, 0, 0.3);
    opacity: 0;
}
/*main) section3 - 알림톡 */
#ch-shadow-root-wrapper > div{border:3px solid #000;}
#section3 > *{opacity: 0;}
#section3{
    position: relative;
    overflow: hidden;
    height: 49rem;
    border-bottom: 0.3rem solid #c7c7c7;
}
#section3 img:nth-of-type(1){
    margin-top: 2rem;
    width: 70%;
    
}
#section3 img:nth-of-type(2){
    position: absolute;
    top:22rem;
    left:23%;
    width:22.6rem;
}
#section3 img:nth-of-type(3){
    position: absolute;
    top:26rem;
    left:13%;
    width:29.8rem;
}
#section3 img:nth-of-type(4){
    position: absolute;
    top:36.5rem;
    left:13%;
    width:29.8rem;

}

/* main) section4 - 이용절차 */
#section4 > *{opacity: 0;}
#section4{
    padding-top:6rem;
}
#section4 .steps-container{
    display: flex;
    justify-content: center;
    column-gap: 18%;
    margin:4.5rem 0 0 0;
}
#section4 .step_img{
    display: flex;
    height: 19.5rem;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 5rem;
    background: url(../image/step-line.png)no-repeat center/contain;
}
#section4 .step_img div{
    width: 9rem;
    height: 3rem;
    background-color:#495DFF;
    border-radius: 30px;
    color:#fff;
    line-height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
}
#section4 .step_img div.line{
    background-color: #fff;
    border:0.1rem solid #495DFF;
    color:#495DFF;
}
#section4 .step_text{
    display: flex;
    flex-direction: column;
    row-gap:3rem;
}
.step_text h5{
    font-size: 2rem;
    color:#4E4E4E;
}
.step_text p{
    font-size: 1.4rem;
    margin-top:0.5rem;
}


/* modal - 로그인 &회원가입  */
#myModal{display: none;}
.modal{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    row-gap: 2.5rem;
    width: 90%;
    height: 40vh;  /*#60vh*/
    border-radius: 1.5rem;
    background-color: #fff;
    justify-content: center;
}
.modal-content .logo{
    text-align: left;
}
.modal-content p{
    text-align: left;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: bold;
}
/* .modal-content hr{
    margin-top: 1rem;
} */
.close{
    color: #aaa;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
}

.kakao-login-button {
    /* margin-top: 1em; */
    background-color: #FEE500;
    color: #3C1E1E;
    width: 100%;
    padding:0.8rem 0;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-family: 'Pretendard-Regular', sans-serif;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
.kakao-login-button img{
    width: 3rem;
}
.sns_login{
    display: flex;
    justify-content: space-around;
}


/* purchase1 - 구매하기 (이용권 선택) */
#purchase{background-color:var(--sky);}
.ott_item{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap:2rem;
    width: 100%;
    height: auto;
    margin-top:2rem;
    padding:3rem;
    background-color:#D1DFFF;
    border-radius: 3rem;
}
.ott_item::after{
    content: url(../image/arrow-down.png);
    position: absolute;
    top:100%;
    left:50%;
    transform: translateX(-50%);
}
.ott_item li{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    width: 100%;
    margin:0 auto;
    padding: 1.5rem;
    font-size:2rem;
    background-color:#fff;
    border-radius:2rem;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}
.ott_item .netflix.on{
    background:linear-gradient(327deg, rgba(229,168,255,1) 0%, rgba(24,101,255,1) 66%);
    color:#fff;
    transform: scale(1.05);
    transition: 0.3s;
}
.ott_item .youtube.on{
    background:linear-gradient(150deg, rgba(255,129,11,1) 0%, rgba(255,211,67,1) 66%);
    color:#fff;
    transform: scale(1.05);
    transition: 0.3s;
}
.ott_item .disney.on{
    background:linear-gradient(150deg, rgba(8,173,195,1) 0%, rgba(47,60,207,1) 66%);
    color:#fff;
    transform: scale(1.05);
    transition: 0.3s;
}
.ott_item li img{
    width: 4rem;
    height: 3rem;
    object-fit: contain;
}
#period_select{display: none;}
#period_select h2{margin-top:7rem;}
#period_select ul{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
#period_select ul li{
    flex:1;
    padding:1.5rem;
    margin-top:2rem;
    background-color:#fff;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}
#period_select ul li.active{
    background-color:var(--main);
    color:#fff;
}
#period_select ul li.active strong{
    color:#fff;
}
#period_select ul li span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0.3rem;
    gap:0.3rem;
}
#period_select ul li img{
    width: 2rem;
}
#period_select ul li strong{
    font-size:2rem;
    color:var(--main);
    margin-top:1rem;
}
#total_price{
    display: none;
    background-color:#fff;
}
#total_price h2 span{
    position: relative;
    font-size: 1.4rem;
    color: cornflowerblue;
}

#total_price .price{
    display: flex;
    margin-top:2rem;
    column-gap: 2rem;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}
#total_price .price span:first-of-type{
    flex:1;
    padding:0.3rem 1.5rem;
    background-color:#FFE9EB;
    color:red;
    text-align: center;
    border-radius: 2rem;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);

}
#total_price .price_line{
    flex:5;
    display: inline-block;
    height: 0.2rem;
    border-top:2px dashed #888;
}
#total_price p{
    margin-top:2rem;
    font-size: 2rem;
    text-align: right;
}
#total_price p span{
    color:var(--main);
    font-weight: bold;
}

/* purchase2 - 구매하기 (이용권 정보) */
#goods{padding-bottom:2rem;}
.goods_card{
    width: 100%;
    padding:2rem;
    margin-top:2rem;
    border-radius: 1.5rem;
    background: linear-gradient(327deg, rgba(229,168,255,1) 0%, rgba(24,101,255,1) 66%);
    color:#fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}
.pur_header{
    display: flex;
    justify-content: space-between;
    border-bottom:2px dashed #fff;
}
.pur_header img{
    width: 5rem;
    height: 3rem;
    object-fit: contain;
}
.youtube .pur_header img{
    width: 3rem;
}
.product_name{
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    font-size:1.4rem;
}
.product_name p:first-child{
    font-size: 2rem;
    font-weight: 900;
}
.product_name p:nth-of-type(2){
    display: flex;
    align-items: center;
    column-gap: 0.3rem;

}
.product_name img{
    width: 1.5rem;
}
.pur_breakdown ul{
    display: flex;
    padding:2rem 0;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;
}
.pur_breakdown ul li{
    display: flex;
    justify-content: space-between;

}
#goods ul.notice{
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    padding:0 1rem;
}
#goods ul.notice li{
    position: relative;
    font-size: 1.3rem;
    color:#555;
    text-align: left;
    line-height: 1.8rem;
}
#goods ul.notice li:before{
    content:'-';
    position: absolute;
    top:0;
    right: 101%;
    color:inherit;
}
#buyer_info {padding-bottom:3rem;}
#buyer_info h2{
    margin:3rem 0 2rem;
}
#buyer_info h2 a{
    display:inline-block;
    width: 4.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    color:var(--main);
    text-align: center;
    line-height: 2.5rem;
    margin-left:0.6rem;
}
.blue_txt{
    color:var(--main);
    font-size: 1.4rem;
    line-height: 2rem;
}
.info_card{
    width: 100%;
    margin:2rem 0;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
}
.info_card div{
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    padding:1.6rem 5rem;
    font-size: 1.6rem;
}
.info_card div:not(:last-child):after{  
    content:'';
    position: absolute;
    top:100%;
    left:50%;
    width: 81%;
    height: 0.1rem;
    background-color: #ddd;
    transform: translateX(-50%);
 }
/*  .info_card .mail_list{display: none;} */
#payment h2{margin-bottom:2rem;}
select#bank, input[type="text"]{
    width: 100%;
    height: 5rem;
    padding:1.3rem;
    margin-top:1rem;
    font-size:1.6rem;
    border:2px solid #ddd;
    border-radius: 0.5rem;
    line-height: 5rem;
}
#payment .blue_txt{margin:2rem 0;}
#payment .radio_btn{
    margin-top:2rem;
}
#payment .radio_btn label{
    font-size: 1.8rem;
    padding-left:1rem;
}
#payment .check_btn{
    margin-top:2rem;
}
#payment .check_btn label{
    padding-left: 1rem;;
    font-size:1.6rem;
}
.receipt_area{
    padding-left:2.5rem;
}
.agree div{
    padding-left:2.5rem;
}
#payment .btn{
    background-color: var(--main);
}
/* purchase3 - 주문완료 */
#order{
    padding:0;
}
#order .order_bg{
    position: relative;
    margin-top:6rem;
    background-color: var(--sky);
    width: 100%;
    height: calc(100vh - 10rem);
}
#order .completed_card{
    position: absolute;
    top:-3rem;
    left:50%;
    width: 85%;
    max-height: 60rem;
    padding:3rem 3rem 15rem 3rem;
    transform:translateX(-50%);
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}
#order .contents{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap:2rem;
    padding-bottom:4rem;
    border-bottom:2px dashed #ddd;
}
#order .contents img{
    width: 6rem;
}
#order .contents p{
    font-size: 2.4rem;
    color:var(--main);
    font-weight: bold;
}
#order .contents div{
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.4rem;
    letter-spacing: -0.7px;
}
#order .details {
    position: relative;
    padding:3rem 5% 1rem;
}
#order .details ul{
    display: flex;
    flex-direction: column;
    row-gap:1.5rem;
}
#order .details ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#order .details ul li span{
    font-size: 1.8rem;
    color:#aaa;
}
#order .details ul li em{
    padding-left:1rem;
    font-size: 1.2rem;
    font-style: normal;
}
#order .details ul li strong{
    font-size: 1.6rem;
}
#order .details ul li:nth-of-type(2) strong{color:var(--main);}
#order .details ul li:nth-of-type(4) strong{color:#FF6060;}
#order .details .bubble_talk{
    position: absolute;
    top:100%;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 27rem;
    height: 5rem;
    margin:2rem auto;
    line-height: 5rem;
    text-align: center;
    color:var(--main);
    font-size: 1.4rem;
    background: url(../image/bubbletalk.png)no-repeat center/cover;
}
#order .details .bubble_talk span{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    border:1px solid var(--main);
    text-align: center;
}

/* 마이페이지 */
#mypage h2, #mypage2 h2{
    padding-bottom:2rem;
    border-bottom:2px solid #333;
}
#mypage .alert-copy{
    visibility: hidden;
    position: fixed;
    bottom:2rem;
    left:50%;
    transform: translateX(-50%);
    width: 10rem;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #000;
    color:#fff;
    font-size: 1.4rem;
}
#mypage .alert-copy.show {
    visibility: visible;
    animation: fade-in 700ms, fade-out 700ms 2000ms;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
.goods_card.youtube{
    background: linear-gradient(150deg, rgba(255,129,11,1) 0%, rgba(255,211,67,1) 66%);
}
.goods_card.disney{background: linear-gradient(150deg, rgba(8,173,195,1) 0%, rgba(47,60,207,1) 66%);}
#product .product_name{
    display: block;
}
#product .product_name p{margin-bottom:1rem;}
#product .product_name div{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 1.4rem;
}
#product .pur_breakdown{
    padding:1rem 0;
}
#product .pur_breakdown div{
    margin-top:1.5rem;

}
#product .pur_breakdown div p{
    display: inline-flex;
    justify-content: space-between;
}
#product .pur_breakdown div p img{
    width: 1.2rem;
    object-fit: contain;
    transition: 0.3s;
    cursor: pointer;

}

#product .pur_breakdown span{
    display: inline-block;
    width: 5rem;
    font-size: 1.8rem;
}
#product .pur_breakdown p{
    display: inline-block;
    width: 80%;
    padding:1rem 3rem;
    background-color: #fff;
    border-radius: 3rem;
    color:#555;
    font-size: 1.6rem;
}
#product .profile{font-size: 1.6rem;;}
#payment_details{
    margin-top:5rem;
}
.payment_list>p{
    font-size: 1.4rem;
    padding:1.5rem 0;
    border-bottom:2px solid #ddd;
}
.payment_list ul li{
    display: flex;
    padding:2rem 0 2rem 3%;
    align-items: center;
    column-gap: 3rem;
    border-bottom:2px solid #ddd;

}
.payment_list ul li img{
    width: 5rem;
    height: 5rem;
}
.pay_detail p{
    font-size: 2rem;
    margin-bottom:0.7rem;
}
.pay_detail span{
    font-size: 1.4rem;
    color:#888;
}
.pay_detail .state01, .pay_detail .state02{
    background-color: var(--sky);
    border: 1px solid var(--main);
    border-radius:2rem;
    padding:0.2rem 1.5rem;
    color:var(--main);
    font-size: 1.1rem;
    margin-left:2rem;
}
.pay_detail .state02{
    background-color: #F5FFEC;
    color:#4EB500;
    border: 1px solid #4EB500;
}

/* 마이페이지 - 내역 없는 경우 */
.empty_pruduct, .empty_payment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap:3rem;
    width: 100%;
    height: 17rem;
    border-bottom:2px solid #ddd;
    font-size: 1.6rem;
    color:#888;
}
.empty_pruduct img{
    width: 5rem;
}

/* 자주 묻는 질문 */
#qna h3{
    display: flex;
    align-items: center;
    font-size:1.8rem ;
    margin:4rem 0 2rem;
}
#qna h3 img{
    width: 2.5rem;
    margin-right: 1.5rem;
}
.accordion{
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    overflow: hidden;
}
.accordion div{
    width: 100%;
}
.accordion .question{
    position: relative;
    font-size: 1.4rem;
    padding: 2rem 4.5rem;
    border-bottom:1px solid #ddd;
}
.accordion .question:after{
    content:'^';
    position: absolute;
    top:50%;
    right:1.5rem;
    transform:translateY(-50%) rotate(180deg);
    border:1px solid #ddd;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    line-height: 2.5rem;
}
.accordion .answer{
    display: none;
    position: relative;
    font-size: 1.4rem;
    padding: 2rem 4.5rem;
    background-color: var(--sky);
    border-left:4px solid var(--main);
}
.accordion .answer:after{
    content:'^';
    position: absolute;
    top:1rem;
    right:1.5rem;
    background-color: var(--main);
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    line-height: 2.5rem;
    color:#fff;
}

@media screen and (min-width:380px){
    .pc_only{display:block;}
}

/* 440px 이상인 경우  */
@media screen and (min-width:440px){
    #section0 .bg{
        width: 92%;
        border-radius: 1.5rem;
        padding:2rem;
    }
    #section3 img:nth-of-type(2){
        position: absolute;
        top:22rem;
        left:39%;
    }
    #section3 img:nth-of-type(3){
        position: absolute;
        top:26rem;
        left:33%;
    }
    #section3 img:nth-of-type(4){
        position: absolute;
        top:36.5rem;
        left:33%;
    }
    #section4 .steps-container{
        width: 90%;
        margin:5rem auto;
        row-gap: 2rem;
        flex-direction: column;
        justify-content: space-between;
    }
    #section4 .step_img{
        flex-direction: row;
        margin: auto;
        width: 90%;
        height: auto;
        background-image: url(../image/step-line-row.png);
    }
    #section4 .step_text{
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 2rem;
    }
    .step_text p{margin-top:1rem;}
}

/* 700px 이상인 경우 = 모달  */
@media screen and (min-width:700px){
    .modal-content {
        padding: 2rem 7rem;
        width: 45em;
        height: 40vh;
    }
    .sns_login{
        justify-content: center;
        column-gap: 3rem;
    }
}
